<div style="text-align: right;">
Katarzyna Kędra
</div>

# DIGITAL INCLUSION IN HIGH-INCOME COUNTRIES

### Variables:
- **anydigpayment** - made or received a digital payment (1 - yes, 0 - no) - dependent variable
- **economy** - name of the country
- **economycode** - code of the country
- **female** - sex of respondent (1 - female, 2 - male)
- **age** - respondent’s age (years)
- **educ** - respondent education level (1 - primary school or less, 2 - secondary school, 3 - tertiary education or more)
- **inc_q** - within-economy household income quintile (1 to 5)
- **emp_in** - respondent is in workforce (1 - yes, 0 - no)
- **urbanicity** - respondent lives in rural area (1 - yes, 0 - no)
- **dig_account** - has a digitally enabled account (1 - yes, 0 - no)
- **borrowed** - if the respondent personally borrowed money (1 - yes, 0 - no)
- **saved** - if the respondent personally saved or set aside money in the past year (1 - yes, 0 - no)
- **fin2** - has a debit card (1 - yes, 0 - no)
- **fin45** - greatest financial worry (1 - old age, 2 - business costs, 3 - medical costs, 4 - monthly expenses, 5 - education fees, 6 - other, 7 - don’t know, 8 - refused)
- **internet_use** - used the internet within the past three months (1 - yes, 0 - no)

Data source: The Global Findex Database 2025 https://microdata.worldbank.org/index.php/catalog/7860/related-materials

### Data collection and preparation

In [62]:
#libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [65]:
#data download
df = pd.read_excel(r"C:\Users\Kedra\Desktop\projekty\digital_inclusion_model\Data_digital_inclusion.xlsx")

In [66]:
df.head()

,economy,economycode,female,age,educ,inc_q,emp_in,urbanicity,account_fin,dig_account,borrowed,saved,fin2,anydigpayment,fin45,internet_use
0,Saudi Arabia,SAU,2,45,2,3,1,1,1,1,0,0,1,1,3,1
1,Saudi Arabia,SAU,1,25,3,4,1,2,0,0,0,0,2,0,4,1
2,Saudi Arabia,SAU,2,26,3,5,1,2,1,1,1,1,1,1,2,1
3,Saudi Arabia,SAU,1,28,3,4,1,2,1,1,0,0,1,1,1,1
4,Saudi Arabia,SAU,2,34,2,2,1,2,1,1,1,1,1,1,3,1